/*Directories*/
__pycache__/

/*Files*/
Session.vim
planning.md
pyrightconfig.json
error_log.txt

/*Directory Files*/
comparables/*
financials/*
tickers/*

/*Exceptions*/
!financials/README.md
!comparables/README.md
!tickers/README.md
!tickers/sample_tickers.csv
